.camera {
  float: left; }
  .camera .img-camera {
    margin-left: 160px;
    margin-top: 150px; }
  .camera .ligth-img {
    margin-left: -3px;
    margin-bottom: 13px; }

.total-container {
  width: 688px;
  height: 390px;
  border: 1px solid #572EE5;
  float: right;
  margin-right: 376px;
  margin-top: 40px; }
  .total-container h2 {
    text-align: center;
    color: #572EE5;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 25px;
    line-height: 35px; }
    .total-container h2 .downText::after {
      content: "\a";
      white-space: pre; }
    .total-container h2 .color-gifos {
      color: #50E3C2; }
  .total-container .text-info {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 29px; }

.paso-paso img {
  margin-left: 700px;
  margin-top: 20px; }

.line-color {
  margin: 10px;
  background-color: #572EE5;
  width: 750px;
  height: 5px;
  margin-left: 350px; }

.darkMode {
  background-color: #37383C;
  transition: background-color .2s; }
  .darkMode .top-page {
    background-color: #000000; }
  .darkMode .navmenu__list {
    background-color: #000000; }
  .darkMode label i {
    color: #ffffff; }
  .darkMode .img-logo {
    display: none; }
  .darkMode .imglogo-dark {
    display: block; }
  .darkMode .info-content h1 {
    color: #ffffff; }
  .darkMode #search-input {
    background-color: #37383C;
    border: 1px solid #ffffff; }
  .darkMode .btn-search {
    color: #ffffff; }
  .darkMode .title-trending {
    color: #ffffff; }
  .darkMode #categories-trending p {
    color: #ffffff; }
  .darkMode .trending-gifos {
    background-color: #222326; }
    .darkMode .trending-gifos h2, .darkMode .trending-gifos p {
      color: #ffffff; }
  .darkMode footer, .darkMode h2, .darkMode p {
    color: #ffffff; }
  .darkMode .icons-footer {
    color: #ffffff; }

@media only screen and (min-width: 426px) {
  .darkMode .navmenu__list {
    background-color: transparent; } }
h2 {
  padding-top: 47px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  margin-top: -1px; }

.icons-footer {
  text-align: center; }

.icons-footer i {
  color: #CDD6E0;
  font-size: 30px;
  padding: 19px; }

p {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center; }

@media only screen and (min-width: 769px) {
  footer {
    display: flex;
    justify-content: space-between;
    height: 100px; }
    footer h2 {
      padding-left: 100px;
      margin-top: -10px; }
    footer p {
      margin-right: 60px;
      padding-top: 20px;
      text-align: center; }

  .icons-footer {
    margin-right: 340px; }

  .icons-footer i {
    padding-top: 30px;
    font-size: 25px; }

  #change-color {
    color: #572EE5; } }
@media only screen and (min-width: 1025px) {
  .icons-footer {
    margin-right: 680px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
  position: fixed;
  border-top: 5px solid #572EE5;
  top: 0;
  background-color: #ffffff;
  z-index: 10; }
  header .img-logo {
    width: 49px;
    height: 49px;
    margin-left: 6%;
    cursor: pointer; }
  header .nav-open {
    display: block; }
  header .nav-close {
    display: none; }
  header .navmenu__list {
    margin: auto;
    position: absolute;
    width: 100%;
    background-color: #572EE5;
    color: #ffffff;
    margin-top: 940px;
    padding-bottom: 80vh;
    opacity: 85%; }
    header .navmenu__list ul li {
      margin: 30px auto 15px auto;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      list-style: none; }
    header .navmenu__list .link {
      color: #ffffff;
      text-decoration: none; }
      header .navmenu__list .link::after {
        content: "";
        display: block;
        height: 1px;
        width: 40px;
        background-color: #ffffff;
        margin: 10px auto;
        margin-top: 20px; }
  header .menu-toggle {
    margin-right: 8%; }
  header .menu-open .hamburger {
    transform: rotate(45deg); }
  header .menu-open .hamburger::before {
    opacity: 0; }
  header .menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg); }
  header .hamburger,
  header .hamburger::after,
  header .hamburger::before {
    content: '';
    display: block;
    background: #572ee5;
    height: 5px;
    width: 25px;
    border-radius: 3px;
    transition: all ease-in-out 500ms; }
  header .hamburger::before {
    transform: translateY(-6px); }
  header .hamburger::after {
    transform: translateY(3px); }
  header .container-createGif {
    display: none; }

@media only screen and (min-width: 1024px) {
  header .img-logo {
    width: 59px;
    height: 59px; }
  header .nav-close {
    display: block; }
  header .navmenu__list {
    background: none;
    width: auto;
    padding-bottom: 0;
    position: relative;
    margin-top: 50px;
    margin: 0;
    align-items: center; }
    header .navmenu__list ul {
      display: flex;
      flex-direction: row;
      color: aqua; }
    header .navmenu__list ul li {
      margin: 30px auto 15px auto;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      list-style: none; }
    header .navmenu__list .link {
      color: #ffffff;
      text-decoration: none; }
      header .navmenu__list .link::after {
        content: "";
        display: block;
        height: 1px;
        width: 40px;
        background-color: #ffffff;
        margin: 10px auto;
        margin-top: 20px; }
  header .menu-toggle {
    display: none; }

  #gif-create {
    background-image: url("../assets/button-crear-gifo.svg");
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 55px;
    width: 55px;
    cursor: pointer; }

  .container-createGif {
    display: inline-block;
    height: 50px; }

  #gif-create:hover {
    background-image: url("../assets/CTA-crear-gifo-hover.svg"); } }

/*# sourceMappingURL=main.css.map */
