.camera {
  float: left; }
  .camera .img-camera {
    margin-left: 160px;
    margin-top: 150px; }
  .camera .ligth-img {
    margin-left: -3px;
    margin-bottom: 13px; }

.total-container {
  width: 688px;
  height: 390px;
  border: 1px solid #572EE5;
  float: right;
  margin-right: 376px;
  margin-top: 40px; }
  .total-container h2 {
    text-align: center;
    color: #572EE5;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 25px;
    line-height: 35px; }
    .total-container h2 .downText::after {
      content: "\a";
      white-space: pre; }
    .total-container h2 .color-gifos {
      color: #50E3C2; }
  .total-container .text-info {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 29px; }

.paso-paso img {
  margin-left: 700px;
  margin-top: 20px; }

.line-color {
  margin: 10px;
  background-color: #572EE5;
  width: 750px;
  height: 5px;
  margin-left: 350px; }

.darkMode {
  background-color: #37383C;
  transition: background-color .2s; }
  .darkMode .top-page {
    background-color: #000000; }
  .darkMode .navmenu__list {
    background-color: #000000; }
  .darkMode label i {
    color: #ffffff; }
  .darkMode .img-logo {
    display: none; }
  .darkMode .imglogo-dark {
    display: block; }
  .darkMode .info-content h1 {
    color: #ffffff; }
  .darkMode #search-input {
    background-color: #37383C;
    border: 1px solid #ffffff; }
  .darkMode .btn-search {
    color: #ffffff; }
  .darkMode .title-trending {
    color: #ffffff; }
  .darkMode #categories-trending p {
    color: #ffffff; }
  .darkMode .trending-gifos {
    background-color: #222326; }
    .darkMode .trending-gifos h2, .darkMode .trending-gifos p {
      color: #ffffff; }
  .darkMode footer, .darkMode h2, .darkMode p {
    color: #ffffff; }
  .darkMode .icons-footer {
    color: #ffffff; }

@media only screen and (min-width: 426px) {
  .darkMode .navmenu__list {
    background-color: transparent; } }
h2 {
  padding-top: 47px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  margin-top: -1px; }

.icons-footer {
  text-align: center; }

.icons-footer i {
  color: #CDD6E0;
  font-size: 30px;
  padding: 19px; }

p {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center; }

@media only screen and (min-width: 769px) {
  footer {
    display: flex;
    justify-content: space-between;
    height: 100px; }
    footer h2 {
      padding-left: 100px;
      margin-top: -10px; }
    footer p {
      margin-right: 60px;
      padding-top: 20px;
      text-align: center; }

  .icons-footer {
    margin-right: 340px; }

  .icons-footer i {
    padding-top: 30px;
    font-size: 25px; }

  #change-color {
    color: #572EE5; } }
@media only screen and (min-width: 1025px) {
  .icons-footer {
    margin-right: 680px; } }
.info-content h1 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  height: 99px;
  width: 286px;
  margin-left: 45px;
  margin-top: -2px;
  padding-top: 30px; }

.gifos {
  color: #50E3C2; }

.img-header {
  margin-left: 45px;
  height: 230px;
  width: 273px;
  margin-top: -31px; }

.img-favorites {
  padding-top: 30px;
  margin-left: 174px;
  width: 28px;
  height: 21px; }

.title-favorites {
  font-family: 'Montserrat-Bold', sans-serif;
  color: #572EE5;
  font-size: 20px;
  text-align: center;
  margin-top: -30px; }

.container-input input {
  border: 1px solid #572EE5;
  height: 50px;
  outline: none;
  width: 334px;
  margin-left: 6px;
  padding-left: 20px;
  border-radius: 27px;
  position: absolute;
  top: 383px;
  font-size: 16px; }

.container-btn {
  line-height: 55px;
  position: absolute;
  right: 40px;
  top: 385px;
  text-align: center; }

#search-bar input::placeholder {
  padding: 10px 0 10px 50px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #6B7989; }

.btn-search {
  background: none;
  border: none;
  color: #572EE5;
  font-size: 20px;
  font-weight: 100; }

.displayBtn {
  display: none; }

.btn-showMore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  outline: none;
  background: none;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #572EE5;
  letter-spacing: 0;
  padding: 16px 30px;
  text-align: center; }

.btn-search:focus {
  outline: none;
  border: none; }

.title-trending {
  text-align: center;
  color: #572EE5;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin-top: 31px; }

#categories-trending {
  display: flex;
  height: 80px;
  margin-left: 20px; }
  #categories-trending p {
    color: #572EE5;
    font-size: 16px;
    font-family: 'Montserrat-Medium', sans-serif;
    line-height: 25px;
    text-transform: capitalize; }

#title-categories {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 40px;
  font-weight: bold; }

.trending-gifos {
  background-color: #F3F5F8;
  height: 450px; }
  .trending-gifos h2 {
    padding-top: 46px;
    font-size: 20px;
    color: #572EE5;
    text-align: center; }

.text-trending {
  font-family: 'Roboto-Regular', sans-serif;
  color: #000000;
  line-height: 23px;
  font-size: 16px; }

.containerGifs {
  width: calc(156px * 2 +2px);
  margin: auto; }

.show_gifs {
  margin-bottom: 10px;
  padding-left: 20px; }

#searchGifs img {
  width: 156px;
  height: 120px; }

#trending-top {
  display: flex;
  overflow: scroll; }

.img-trending {
  width: 243px;
  height: 187px;
  padding: 10px; }

@media only screen and (min-width: 376px) {
  .info-content h1 {
    margin-left: 70px; }

  .img-header {
    margin-left: 80px; }

  .container-input input {
    margin-left: 35px; }

  .trending-gifos p {
    margin-left: 40px; }

  .containerGifs {
    display: flex; }

  #searchGifs {
    display: inline-block; }

  .show_gifs {
    margin-left: 15px; } }
@media only screen and (min-width: 426px) {
  .info-content h1 {
    margin-left: 140px;
    width: 500px;
    font-size: 30px; }

  .img-header {
    margin-left: 250px; }

  .container-input input {
    margin-left: 200px; }

  .container-btn {
    right: 230px; }

  #categories-trending {
    margin-left: 100px; }

  #categories-trending p {
    margin-left: 30px; } }
@media only screen and (min-width: 769px) {
  .info-content h1 {
    margin-left: 260px;
    width: 500px;
    font-size: 30px; }

  .img-header {
    margin-left: 370px;
    margin-top: -45px; }

  .container-input input {
    margin-left: 320px; }

  .container-btn {
    right: 360px; }

  #categories-trending {
    margin-left: 250px; } }
@media only screen and (min-width: 1025px) {
  .info-content h1 {
    margin-left: 480px;
    width: 500px;
    font-size: 30px; }

  .img-header {
    margin-left: 575px; }

  .container-input input {
    margin-left: 520px; }

  .container-btn {
    right: 590px; }

  #categories-trending {
    margin-left: 430px; } }
body {
  margin: 0;
  padding: 0; }

header {
  height: 80px;
  width: 100%; }

header::after {
  content: '';
  display: block; }

.top-page {
  width: 100%;
  background: #572ee5;
  height: 5px; }

.navmenu__logo {
  padding: 10px; }

.imglogo-dark {
  display: none; }

.navmenu__list {
  position: absolute;
  top: 68px;
  width: 100vw;
  background: rgba(87, 46, 229, 0.9);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms; }

.navmenu__list ul {
  list-style: none; }

.navmenu__list a {
  margin-right: 15px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #ffffff; }

.navmenu__list a:hover {
  border-bottom: 1px solid #5ed7c6; }

.navmenu__list a:active {
  color: #9cafc3; }

.navmenu__list li {
  padding: 10px 0px; }

.navmenu__list a::after {
  content: "";
  display: block;
  height: 1px;
  width: 40px;
  background-color: #ffffff;
  margin: 10px auto;
  margin-top: 20px; }

.nav-open {
  clip-path: circle(150% at top right); }

.container-createGif {
  display: none; }

.menu-toggle {
  position: absolute;
  top: 38px;
  right: 30px; }

.menu-open .hamburger {
  transform: rotate(45deg); }

.menu-open .hamburger::before {
  opacity: 0; }

.menu-open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg); }

.hamburger,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  background: #572ee5;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  transition: all ease-in-out 500ms; }

.hamburger::before {
  transform: translateY(-6px); }

.hamburger::after {
  transform: translateY(3px); }

@media only screen and (min-width: 426px) {
  .menu-toggle {
    display: none; }

  .navmenu__list {
    position: relative;
    background: transparent;
    left: 150px;
    top: -65px;
    float: right;
    margin-right: 10px;
    clip-path: initial; }

  .navmenu__list li {
    display: inline-block;
    margin-right: 0px; }

  .navmenu__list a {
    text-transform: uppercase;
    color: #572ee5;
    font-weight: bold; }

  .navmenu__list li:first-child {
    margin-top: 0px; }

  .navmenu__list a::after {
    display: none; } }
@media only screen and (min-width: 769px) {
  .navmenu__list {
    left: 300px;
    top: -75px; }

  #gif-create {
    background-image: url("../assets/button-crear-gifo.svg");
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 55px;
    width: 55px;
    cursor: pointer; }

  .container-createGif {
    display: inline-block;
    height: 50px; }

  #gif-create:hover {
    background-image: url("../assets/CTA-crear-gifo-hover.svg"); } }

/*# sourceMappingURL=main.css.map */
