h2{
    padding-top:47px ;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    margin-top: -1px;
}

.icons-footer{
   text-align: center;
}
.icons-footer i {
    color:#CDD6E0;
    font-size: 30px;
    padding: 19px;
}
p{
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}

@media only screen and (min-width: 769px) {
footer{
    display: flex;
    justify-content: space-between;  
    height: 100px;
    h2{
        padding-left: 100px;
        margin-top: -10px;
    } 
    p{
        margin-right: 60px;
        padding-top: 20px;
        text-align: center;
    }
}
.icons-footer {
    margin-right: 340px ;
   
}
.icons-footer i{
    padding-top: 30px;
    font-size: 25px;
}
#change-color{
    color: #572EE5;
}

}