.main{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 60px;
    color: #572EE5;

    h1{
        width: 240px;
        margin: 0 auto 40px auto
    }
    .gifos{
        color: #5ED7C6 ;
    }
    .img-main{
        width: 300px;
    }
    .container-search{
            border: 1px #572EE5 solid;
            width: 300px;
            margin: auto;
            border-radius: 15px;
            margin-top: -4px;
            display: flex;
            justify-content: space-between;
       
         .btn-search{
            border: none;
            outline: none;
            background: none;
            margin-left: 10px;
            margin-top: 7px;
            display: none;
            color: #9CAFC3;
        }
        .input-search{
            margin-top: 4px;
            border: none;
            font-size: 15px;
            padding: 6px 0px;
            outline: none;
            margin-left: 17px;
        }
        .btn-search-right{
            border: none;
            margin-top: 7px;
            outline: none;
            background: none;
            color: #572EE5;
            margin-right: 10px;
        }
       

    }

    .line{
        border-bottom: 1px solid #572EE5;
        width: 30%;
        margin: 25px auto;
        display: none;
    }

    .title-trending{
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            color: #572ee5;
            margin-top: 30px;
            margin-bottom: 10px;
            body.darkMode &{
                color: #FFFFFF;
            }
        
    }

    .categories-trending{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
        width: 250px;

        p{
            color: #572EE5;
            font-size: 14px;
            font-family: "Montserrat", sans-serif;

            body.darkMode &{
                color: #FFFFFF;
            }

            &::first-letter{
                text-transform: uppercase;
              }
        }
    }
    #titleGifs{
        color: #572EE5;
        font-size: 25px;
        margin:30px 0;
        font-family: "Montserrat", sans-serif;
        body.darkMode &{
            color: #FFFFFF;
        }
            &:first-letter {
                            text-transform: uppercase;
  }
    }
}

.displayBtn{
    display: none;
}
.btn-showMore{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: 1px solid #572EE5;
    border-radius: 25px;
    outline: none;
    background: none;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #572EE5;
    letter-spacing: 0;
    padding: 16px 30px;
    text-align: center;
    
}
.searchGifs{
    margin-top: 120px;
    padding-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.size-image{
    width: 100%;
    height: 100%;
}
.div-Container{
    width: 140px;
    height: 120px;
    margin: 10px ;
}

#containerSuggestions {
    display: none; 
    color: #9CAFC3;
    padding: 15px 0px 13px 55px;
    
  }
   .search-suggestion{
     width: 20px;
     height: 25px;
    margin-right: 5px;
     display: inline-block;
    
  }
  
  .txt-suggestion {
    display: inline-block;
    
  }
  .fav-content{
      margin-top: 110px;
      width: 100%;

      img{
          margin: auto;
          display: block;
      }

  }

@media only screen and (min-width: 1024px) {
    .div-Container{
        width: 200px;
        height: 160px;
        margin: 10px ;
    }
    .searchGifs{
        width: 1024px;
        margin: auto;
        
    }
    

}
